<div class="favorites-card">
  <div class="card">
    <div class="section">
      <div class="favorites-card-heading">
        <div class="favorites-card-title">
          <h4>{{tvShow.name}}</h4>
        </div>
        <div class="favorites-card-controls">
          <div>
            <a [routerLink]="['/details', tvShow.id]">
              <span class="icon-info"></span>
            </a>
          </div>
          <div>
            <span class="icon-bookmark highlight" (mouseup)="removeTvShowFromFavorites(tvShow.id)"></span>
          </div>
        </div>
      </div>
    </div>
    <div class="favorites-card-image" [ngStyle]="{'background-image': 'url(' + tvShow.image_thumbnail_path + ')'}">
    </div>
    <div class="section">
      @if (tvShow.status === 'In Development') {
        Next episode: TBD
      } @else {
        Next episode: {{tvShow.countdown?.air_date | date: 'MMM d, y'}}
      }
    </div>
  </div>
</div>
