<div class="show-details">
  <div class="show-details-title">
    <h1>{{tvShowDetails().name}} - {{tvShowDetails().country}} - {{tvShowDetails().start_date | date: 'yyyy'}}</h1>
    <hr class="doc">
  </div>
  <div class="show-details-body">
    <div class="row">
      <div class="col-sm-6">
        <div class="show-details-thumbnail">
          <img [src]="tvShowDetails().image_thumbnail_path" alt="{{tvShowDetails().name}}">
        </div>
      </div>
      <div class="col-sm-6" [innerHTML]="tvShowDetails().description">
      </div>
    </div>
    <div class="show-details-rating">
      <div class="row">
        <div class="col-sm-12">
          Rating: {{tvShowDetails().rating | number: '1.0-2'}}/10 (rated by {{tvShowDetails().rating_count}} people)
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        {{episodeDetailsSignal()?.totalEpisodes | i18nPlural:{"=0": "No episodes", "=1": "1 episode", "other": "# episodes"} }} -
        {{episodeDetailsSignal()?.totalSeasons | i18nPlural:{"=0": "No seasons", "=1": "1 season", "other": "# seasons"} }}
      </div>
    </div>
  </div>
  <div class="show-details-action">
    <div class="row">
      <div class="col-sm-12">
        <button class="tertiary" (click)="dialog.showModal()">Show Images</button>
        <button class="primary" (click)="back();"><< Back </button>
      </div>
    </div>
  </div>
</div>

<dialog #dialog>
  <app-slideshow-card [tvShowSignal]="tvShowDetails()" (closeDialogEvent)="dialog.close()"></app-slideshow-card>
</dialog>
