<div class="favorites-container">
  <div class="favorites-grid">
    @for (tvShow of favoriteTvShows; track tvShow.id) {
      <div class="favorites-card">
        <div class="card">
          <div class="section">
            <h4 class="doc">{{tvShow.name}}</h4>
          </div>
          <div class="favorites-image">
            <img [src]="tvShow.image_thumbnail_path" alt="{{tvShow.name}}">
          </div>
          <div class="section">
            Next episode
          </div>
        </div>
      </div>
    }
  </div>
</div>
